<aside
  class="bg-primary-800 -translate-x-80 inset-0 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0"
>
  <div class="relative border-b border-white/20">
    <a class="flex flex-col items-center py-4" href="#/">
      <h6
        class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white"
      >
        StockWise Manager
      </h6>
      <br />
      <h3 class="font-extrabold uppercase text-white">
        @if (role === Roles.ADMIN) { Admin } @else { Employee }
      </h3>
    </a>
    <button
      class="middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-8 h-8 max-h-8 rounded-lg text-xs text-white hover:bg-white/10 active:bg-primary-600 absolute right-0 top-0 grid rounded-br-none rounded-tl-none xl:hidden"
      type="button"
    >
      <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
        <app-cross-icon />
      </span>
    </button>
  </div>
  <div class="m-4 flex flex-col justify-between">
    <ul class="mb-4 flex flex-col gap-1">
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg bg-primary-500 text-white shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4"
            type="button"
          >
            <app-house-icon />
            <p class="block font-sans text-base font-medium">General</p>
          </button>
        </a>
      </li>
      <li>
        <a routerLink="/sales-page" routerLinkActive="active">
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-primary-600 w-full flex items-center gap-4 px-4"
            type="button"
          >
            <app-cart-icon />
            <p class="block font-sans text-base font-medium">Sales</p>
          </button>
        </a>
      </li>
      <li>
        <a aria-current="page" class="active" href="#">
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-primary-600 w-full flex items-center gap-4 px-4"
            type="button"
          >
            <app-box-icon />
            <p class="block font-sans text-base font-medium">Products</p>
          </button>
        </a>
      </li>

      @if (role === Roles.ADMIN) {
      <li>
        <a class="" href="#">
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-primary-600 w-full flex items-center gap-4 px-4"
            type="button"
          >
            <app-table-icon />
            <p class="text-base font-medium">Stock</p>
          </button>
        </a>
      </li>
      <li>
        <a class="" href="#">
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-primary-600 w-full flex items-center gap-4 px-4"
            type="button"
          >
            <app-add-user-icon />
            <p
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium"
            >
              Users
            </p>
          </button>
        </a>
      </li>
      <li>
        <a class="" href="#">
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-primary-600 w-full flex items-center gap-4 px-4"
            type="button"
          >
            <app-bell-icon />
            <p class="block font-sans text-base font-medium">Notifications</p>
          </button>
        </a>
      </li>
      }
    </ul>
    <ul class="fixed bottom-5">
      <li>
        <a class="" href="#">
          <button
            class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-primary-600 w-full flex items-center gap-4 px-4"
            type="button"
          >
            <app-profile-icon />
            <p class="block font-sans text-base font-medium">Profile</p>
          </button>
        </a>
      </li>
    </ul>
  </div>
</aside>
